ExamProjectDrive/DriveClient/Service References/DriveServiceReference/Drive.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Drive" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://driveservice.somee.com/test/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://driveservice.somee.com/test/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://driveservice.somee.com/test/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DriveServiceLibrary" />
      <xsd:import schemaLocation="http://driveservice.somee.com/test/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDriveService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IDriveService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_ChangeUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserData" />
  </wsdl:message>
  <wsdl:message name="IDriveService_ChangeUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_AddAccessLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccessLevel" />
  </wsdl:message>
  <wsdl:message name="IDriveService_AddAccessLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccessLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetLastAccessID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAccessID" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetLastAccessID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastAccessIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_CheckLoggedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoggedUser" />
  </wsdl:message>
  <wsdl:message name="IDriveService_CheckLoggedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoggedUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_WriteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteFile" />
  </wsdl:message>
  <wsdl:message name="IDriveService_WriteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IDriveService_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_DeleteFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolder" />
  </wsdl:message>
  <wsdl:message name="IDriveService_DeleteFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_CreateFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFolder" />
  </wsdl:message>
  <wsdl:message name="IDriveService_CreateFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_IfExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IfExists" />
  </wsdl:message>
  <wsdl:message name="IDriveService_IfExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IfExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetFileBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBytes" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetFileBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBytesResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetFileBytesDirect_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBytesDirect" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetFileBytesDirect_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileBytesDirectResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetDirectoryInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryInfo" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetDirectoryInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetDirectoriesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoriesList" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetDirectoriesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoriesListResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetDirectoriesListDirect_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoriesListDirect" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetDirectoriesListDirect_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectoriesListDirectResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetFilesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesList" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetFilesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesListResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetUserRoot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoot" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetUserRoot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRootResponse" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetFileInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileInfo" />
  </wsdl:message>
  <wsdl:message name="IDriveService_GetFileInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IDriveService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetAllUsers" message="tns:IDriveService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetAllUsersResponse" message="tns:IDriveService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/AddUser" message="tns:IDriveService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/AddUserResponse" message="tns:IDriveService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/ChangeUserData" message="tns:IDriveService_ChangeUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/ChangeUserDataResponse" message="tns:IDriveService_ChangeUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccessLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/AddAccessLevel" message="tns:IDriveService_AddAccessLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/AddAccessLevelResponse" message="tns:IDriveService_AddAccessLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastAccessID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetLastAccessID" message="tns:IDriveService_GetLastAccessID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetLastAccessIDResponse" message="tns:IDriveService_GetLastAccessID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLoggedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/CheckLoggedUser" message="tns:IDriveService_CheckLoggedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/CheckLoggedUserResponse" message="tns:IDriveService_CheckLoggedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/WriteFile" message="tns:IDriveService_WriteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/WriteFileResponse" message="tns:IDriveService_WriteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/DeleteFile" message="tns:IDriveService_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/DeleteFileResponse" message="tns:IDriveService_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/DeleteFolder" message="tns:IDriveService_DeleteFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/DeleteFolderResponse" message="tns:IDriveService_DeleteFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/CreateFolder" message="tns:IDriveService_CreateFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/CreateFolderResponse" message="tns:IDriveService_CreateFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IfExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/IfExists" message="tns:IDriveService_IfExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/IfExistsResponse" message="tns:IDriveService_IfExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetFileBytes" message="tns:IDriveService_GetFileBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetFileBytesResponse" message="tns:IDriveService_GetFileBytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileBytesDirect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetFileBytesDirect" message="tns:IDriveService_GetFileBytesDirect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetFileBytesDirectResponse" message="tns:IDriveService_GetFileBytesDirect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectoryInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetDirectoryInfo" message="tns:IDriveService_GetDirectoryInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetDirectoryInfoResponse" message="tns:IDriveService_GetDirectoryInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectoriesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetDirectoriesList" message="tns:IDriveService_GetDirectoriesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetDirectoriesListResponse" message="tns:IDriveService_GetDirectoriesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectoriesListDirect">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetDirectoriesListDirect" message="tns:IDriveService_GetDirectoriesListDirect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetDirectoriesListDirectResponse" message="tns:IDriveService_GetDirectoriesListDirect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetFilesList" message="tns:IDriveService_GetFilesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetFilesListResponse" message="tns:IDriveService_GetFilesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoot">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetUserRoot" message="tns:IDriveService_GetUserRoot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetUserRootResponse" message="tns:IDriveService_GetUserRoot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IDriveService/GetFileInfo" message="tns:IDriveService_GetFileInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDriveService/GetFileInfoResponse" message="tns:IDriveService_GetFileInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDriveService" type="tns:IDriveService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IDriveService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserData">
      <soap:operation soapAction="http://tempuri.org/IDriveService/ChangeUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccessLevel">
      <soap:operation soapAction="http://tempuri.org/IDriveService/AddAccessLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastAccessID">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetLastAccessID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoggedUser">
      <soap:operation soapAction="http://tempuri.org/IDriveService/CheckLoggedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteFile">
      <soap:operation soapAction="http://tempuri.org/IDriveService/WriteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IDriveService/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <soap:operation soapAction="http://tempuri.org/IDriveService/DeleteFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFolder">
      <soap:operation soapAction="http://tempuri.org/IDriveService/CreateFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IfExists">
      <soap:operation soapAction="http://tempuri.org/IDriveService/IfExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBytes">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetFileBytes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileBytesDirect">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetFileBytesDirect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectoryInfo">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetDirectoryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectoriesList">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetDirectoriesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectoriesListDirect">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetDirectoriesListDirect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesList">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetFilesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoot">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetUserRoot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap:operation soapAction="http://tempuri.org/IDriveService/GetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Drive">
    <wsdl:port name="BasicHttpBinding_IDriveService" binding="tns:BasicHttpBinding_IDriveService">
      <soap:address location="http://driveservice.somee.com/test/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>