ExamProjectDrive/DriveClient/Service References/DriveServiceReference/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DriveServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DriveServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContractUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContractUser" nillable="true" type="tns:ContractUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContractUser" nillable="true" type="tns:ArrayOfContractUser" />
  <xs:complexType name="ContractUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Access_level_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractUser" nillable="true" type="tns:ContractUser" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Access_level_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="Access_level">
    <xs:sequence>
      <xs:element minOccurs="0" name="Full_access" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Read" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Write" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Access_level" nillable="true" type="tns:Access_level" />
  <xs:complexType name="ArrayOfMyFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyFileInfo" nillable="true" type="tns:MyFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyFileInfo" nillable="true" type="tns:ArrayOfMyFileInfo" />
  <xs:complexType name="MyFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyFileInfo" nillable="true" type="tns:MyFileInfo" />
</xs:schema>